[submodule "public"]
	path = public
	url = https://github.com/rbroc/rbroc.github.io.git
	branch = master
[submodule "rbroc.github.io"]
	path = rbroc.github.io
	url = http://www.github.com/rbroc/rbroc.github.io
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
